.hearts{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
    overflow:hidden;
    }
    .heart{
    position:absolute;
    bottom:-20px;
    width:15px;
    height:15px;
    background:pink;
    transform:rotate(45deg);
    animation:float linear infinite;
    }
    .heart:before,.heart:after{
    content:'';
    width:15px;
    height:15px;
    background:pink;
    border-radius:50%;
    position:absolute;
    }
    .heart:before{left:-7px;}
    .heart:after{top:-7px;}
    @keyframes float{
    to{transform:translateY(-110vh) rotate(45deg);opacity:0;}
    }

.gallery img{
    width:200px;
    border-radius:20px;
    margin:10px;
    box-shadow:0 0 20px pink;
    transition:.3s;
    }
    .gallery img:hover{transform:scale(1.1);}
    .gallery{display:flex;flex-wrap:wrap;justify-content:center;}

@media(max-width:600px){
    h1{font-size:28px;}
    .menu a{font-size:16px;padding:12px;}
    .gallery img{width:90%;}
    }

.firefly{
    position:fixed;
    width:6px;
    height:6px;
    background:#ffd6ff;
    border-radius:50%;
    box-shadow:0 0 15px #ff9aff;
    animation:fadefly 4s linear;
    }
    @keyframes fadefly{
    to{opacity:0;transform:translateY(-50px);}
    }

.bday{
    background:linear-gradient(45deg,#ff9a9e,#fad0c4,#fad0c4,#ffdde1);
    }
